<h1>Welcome to the Purple Comet<i>!</i> Math Meet!</h1>

<p style="margin-right: 5em;">The Purple Comet<i>!</i> Math Meet is a free, on-line, international, 
	team mathematics competition designed for middle and high school students conducted annually since 2003.</p>

<!--p style="margin-right: 5em;">The most recent contest attracted over 7,000 students from 13 countries.</p-->

<div id="announce">
	<h3>ANNOUNCEMENTS</h3>
	No anouncements yet
</div>

<div id="links-list">
	<table style="margin-left: 50px">
		<tr>
			<td><a href="/home/show/quickstart_instructions"><img src="/images/right.gif" border=0>Quick-start instructions</a></td>
		</tr>
		<tr>
			<td><a href="/home/show/supervisor_summary"><img src="/images/right.gif" border=0>Get more information</a></td>
		</tr>
		<tr>
			<td><a href="/home/show/poster"><img src="/images/right.gif" border=0>Download a poster/flyer</a></td>
		</tr>
		<tr>
			<td><a href="/supervisor/register"><img src="/images/right.gif" border=0>Register to be an adult supervisor for a team</a></td>
		</tr>
		<tr>
			<td><a href="/team/login"><img src="/images/right.gif" border=0>Begin the competition</a></td>
		</tr>
	</table>
</div>

<table style="margin-top: 2em">
	<tr>
		<td valign="top"><b><i>PLEASE NOTE:</i></b></td>
		<td><b><i><font color=red>All contest times are given in UTC (GMT) form.</font></i></b>
			<br />Current server time: <%= @time.strftime('%B %e, %Y - %H:%M:%S %Z') %>.
		</td>
	</tr>
</table>

<p style="padding-top: 40px"><font size="+2">
		<a href="/home/show/acknowledgements"><b>Acknowledgements</b></a></font>
</p>
